@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

li {
    list-style-type: none;
}

:root {
    /*header---.center*/
    --tamanho-maximo: 1100px;
    --margem: 0 auto;
    --magem-esquerda: 0 2%;


    /*medidas de tela toda*/
    --vertical-inteira: 100%;
    --horizontal-inteira: 100%;

    /*cores geral*/
    --fundo: #639ac9;
    --preto: black;
    --preto-medio: #222;
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;
    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --silver: #cad5da;
    --verde:rgb(6, 168, 6);
    --verde-escuro:rgb(1, 61, 1);
    
}
body {
    background-color:var(--verde)
}

.saldo{
    box-shadow: 10px 7px;
    margin-bottom: 3rem;
    background-color: var(--verde-escuro);
}
.caixa{
    margin-left: 40%;
    font-size: 100px;
    border:solid 3px;
    width: 300px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 5rem;
    box-shadow: 10px 7px;
}
.valores{
    color: var(--vermelho-forte);
    font-size: medium bolde;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-family: 'Anton', sans-serif;
        font-size: 20px;
}
.notas{
    width:300px;  
    height:130px;
    
    justify-content: space-around;
    margin-left: 1rem;
}
.texto{
    color:var(--vermelho-forte);
    margin-top: 20rem;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
   
}
.btn{
    margin-left: 50%;
    margin-top: 5%;
background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover{
    background-color: #dbf3dc;
    cursor: pointer;
}

@media (max-width: 900px) {
.caixa {
        margin-left: 25%;
        font-size: 60px;
        border: solid 3px;
        width: 150px;
        font-family: 'Anton', sans-serif;
        margin-bottom: 5rem;
        box-shadow: 10px 7px;
    }
.btn {
    margin-left: 20%;
    margin-top: 5%;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
        
                
.texto {
    color: var(--vermelho-forte);
    margin-top: 20rem;
    font-family: 'Anton', sans-serif;
    font-size: 22px;

}

}