* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.75rem;
}

hr {
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: center;
}

nav > button {
  margin: 0 0.25rem;
}

button {
  background-color: transparent;
  border: 0.0625rem solid #333;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.75em;
}


.hidden {
  display: none;
}

.active {
  color: white;
  background-color: #333;
}


form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form > div > input {
  border-radius: 1.5rem;
  outline: none;
  padding: 0.25rem 0.75rem;
  border: 0.0625rem solid #333;
  box-shadow: none; 
  background-color: transparent;
}

form > div > label {
  font-size: 0.9em;
  margin-bottom: 0.25rem;
}

form > button {
  width: 100%;
  color: white;
  background-color: #333;
  margin-bottom: 2rem;
}

.troco-resultado, .celular-resultado-text, .celular-resultado-number, .nuvem-resultado {
  border-radius: 1.5rem;
  padding: 1rem 0.75rem;
  border: 0.0625rem solid #333;
}

.celular-resultado-text {
  word-wrap: break-word;
}

.legenda {
  font-size: 0.8em;
  text-align: center;
  margin-top: 2rem;
}

.nuvem-resultado-texto p {
  text-align: center;
  margin: 0.5rem 0;
}

.nuvem-resultado {
  margin-top: 2rem;
}

.nuvem-resultado table {
  margin: 0 auto;
}

.nuvem-resultado table td {
  width: 30px;
  height: 30px;
  font-weight: bolder;
  text-align: center;
}

.nuvem-resultado p {
  border-top: 0.0625rem solid #333;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.nuvem-resultado p:first-of-type {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}