.header {
  background-color: rgb(125, 17, 248);
  color: white;
  display: flex;
  flex-direction: column;
  height: 7vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.footer {
  background-color: red;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100vw;
}