@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 20px;
    text-align: center;
    margin: auto;
    font-family: Roboto;
    background-color: rgb(56, 255, 132);
}

.container {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.658);
}

.container-jokenpo{
    justify-content: center;
    margin:30px auto;
    display: flex;
    flex-wrap: wrap;  
    padding: 20px;
}

#jokenpo{
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.658);
}

.btn {
    height: 200px;
    max-width: 200px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.658);
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}
.ppt{
    border-radius: 10px;
    padding:15px 10px;
    margin: 10px;
}
.result{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
}
#resultado{
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.button{
    background-color:rgb(56, 255, 132);
    padding: 15px 25px;
    font-size: 20pt;
    border-radius: 10px;
    margin: 10px;
    border-style: none;
}
.button:hover{
    color: #fff;
    cursor: pointer;
}
