body{
    font-family: 'Noto Sans', sans-serif;
}


.juíz{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.jogadores{

    display: flex;
    justify-content: center;
    align-items: center;

}


.jogadores div{

  margin: 40px;

}



